/* CSS declarations go here */
*:focus {
    outline: none !important;
}
.trans, .trans:hover, .trans:active, .trans:focus{
  background-color: transparent !important;
  border: transparent !important;
  color: transparent !important;
  border:none !important;
  box-shadow:none !important;
}
.btn-dark:active, .btn-dark:hover{
  background-color: #3498db !important;
}
.btn-dark{
  background-color: #34495e !important;
  color: white !important;
}
html, body{
  width: 100%;
  height: 100%;
}
.btn:not(.square){
  width: 65px;
  height: 65px;
  border-radius: 100%;
  font-size: 30px;
  border: none;
}
.square{
  padding: 10px 15px 10px 15px;
  font-size: 1.3em;
  margin-left: 10px;
  border-radius: 3px;
}
.margin{
  margin: 10px;
}
body{
  padding-top: 3%;
}
.no-margin{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
@media only screen and (orientation:portrait){
  .landscape {display:none;}
  .portrait {display:block;}
}

@media only screen and (orientation:landscape){
  .landscape {display:block;}
  .portrait {display:none;}
}